<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/htmx.org@1.5.0"></script>
    <script src="https://unpkg.com/hyperscript.org@0.8.1"></script>
    <title>Time Clock</title>
</head>
<body>
    <div>
        {% for employee in employees %}
            <button hx-get="/auth/request/{{ employee.uid }}"
                    hx-trigger="click"
                    hx-target="#search-results"
                    hx-swap="innerHTML">
                {{employee.name}}
            </button>
        {% end %}
    </div>
    <div id="search-results"></div>
</body>
</html>